<!-- <%= link_to new_host_path do %>
  <button type="button" name="button">Become a Host</button>
<% end %> -->

<div ng-app="receta">
  <div class="view-container">
    <div ng-view class="view-frame animate-view">
    </div>
  </div>
</div>
