<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3">
    {{flash.message}}
  </article>
</aside>
<form class="form-horizontal" role="form" class="edit-user">
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label
      for="name"
      class="col-md-2 control-label col-md-offset-2">
      First Name
    </label>
    <div class="col-md-5">
      <input type="text" name="name" class="form-control" placeholder="e.g. Wendy" ng-model="host.first_name">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label
      for="name"
      class="col-md-2 control-label col-md-offset-2">
      Last Name
    </label>
    <div class="col-md-5">
      <input type="text" name="name" class="form-control" placeholder="e.g. Hsu" ng-model="host.last_name">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label
      for="name"
      class="col-md-2 control-label col-md-offset-2">
      Password
    </label>
    <div class="col-md-5">
      <input type="password" name="name" class="form-control" placeholder="Hello123" ng-model="host.password">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label
      for="instructions"
      class="col-md-2 control-label col-md-offset-2">
      Email
    </label>
    <div class="col-md-5">
      <textarea name="instructions" class="form-control" ng-model='host.email' placeholder="e.g. wndyhsu@gmail.com">
      </textarea>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label
      for="instructions"
      class="col-md-2 control-label col-md-offset-2">
      Address
    </label>
    <div class="col-md-5">
      <textarea name="instructions" class="form-control" ng-model='host.address' placeholder="e.g. 13051 NE 10th Street">
      </textarea>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label
      for="instructions"
      class="col-md-2 control-label col-md-offset-2">
      City
    </label>
    <div class="col-md-5">
      <input type="text" name="name" class="form-control" placeholder="e.g. Seattle" ng-model="host.city">
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label
      for="instructions"
      class="col-md-2 control-label col-md-offset-2">
      Phone
    </label>
    <div class="col-md-5">
      <textarea name="instructions" class="form-control" ng-model='host.phone' placeholder="e.g.206-495-2607">
      </textarea>
    </div>
  </div>
  <div class="form-group" ng-class="{'has-warning has-feedback':errors.name}">
    <label
      for="instructions"
      class="col-md-2 control-label col-md-offset-2">
      Rate
    </label>
    <div class="col-md-5">
      <input type="number" name="rate" class="form-control" placeholder="20" ng-model="host.rate">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-3">
      <button class="btn btn-default" ng-click="cancel()"> Cancel</button>
    </div>
    <div class="col-md-4 text-right">
      <button class="btn btn-primary" ng-click="save()"> Save </button>
    </div>
  </div>
</section>
