// Place all the styles related to the Forms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hide {
  display: none;
}

.align-center {
  width: 50%;
  margin: 0 auto;
  display: block;
}

.table {
    font-size: 11px;
    tbody td{
      font-size: 11px;
      li {
        font-size: 11px;
      }
    }
}

h3.mainTitle{
  display: inline;
}
.published,
.manage {
  font-size: 11px;
  display: inline;
  span {
    margin-right: 5px;
  }
}
